[project]
name = "titiler-stacapi"
description = "Connect titiler to STAC APIs."
readme = "README.md"
requires-python = ">=3.11,<3.14"
license = {file = "LICENSE"}
authors = [
    {name = "Vincent Sarago", email = "vincent@developmentseed.com"},
]
keywords = [
    "TiTiler",
    "STAC API",
]
classifiers = [
    "Intended Audience :: Information Technology",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Topic :: Scientific/Engineering :: GIS",
]
dynamic = ["version"]
dependencies = [
    "orjson",
    "titiler.core>=0.19.0,<0.20",
    "titiler.mosaic>=0.19.0,<0.20",
    "pystac-client",
    "pydantic>=2.4,<3.0",
    "pydantic-settings~=2.0",
]
[project.optional-dependencies]
server = [
    "uvicorn[standard]>=0.12.0",
]

[dependency-groups]
dev = [
    "pre-commit",
    "bump-my-version",
    "pytest",
    "pytest-cov",
    "pytest-asyncio",
    "httpx",
    "owslib",
]
docs = [
    "black>=23.10.1",
    "mkdocs>=1.4.3",
    "mkdocs-jupyter>=0.24.5",
    "mkdocs-material[imaging]>=9.5",
    "griffe-inherited-docstrings>=1.0.0",
    "mkdocstrings[python]>=0.25.1",
]

[project.urls]
Homepage = 'https://developmentseed.org/titiler-stacapi/'
Documentation = "https://developmentseed.org/titiler-stacapi/"
Issues = "https://github.com/developmentseed/titiler-stacapi/issues"
Source = "https://github.com/developmentseed/titiler-stacapi"
Changelog = "https://developmentseed.org/titiler-stacapi/release-notes/"

[tool.hatch.version]
path = "titiler/stacapi/__init__.py"

[tool.hatch.build.targets.sdist]
only-include = ["titiler"]

[tool.hatch.build.targets.wheel]
only-include = ["titiler"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.coverage.run]
branch = true
parallel = true

[tool.coverage.report]
exclude_lines = [
  "no cov",
  "if __name__ == .__main__.:",
  "if TYPE_CHECKING:",
]

[tool.isort]
profile = "black"
known_first_party = ["titiler"]
known_third_party = [
    "rasterio",
    "morecantile",
    "rio_tiler",
    "cogeo_mosaic",
    "geojson_pydantic",
]
default_section = "THIRDPARTY"

[tool.ruff.lint]
select = [
    "D1",  # pydocstyle errors
    "E",  # pycodestyle errors
    "W",  # pycodestyle warnings
    "F",  # flake8
    "C",  # flake8-comprehensions
    "B",  # flake8-bugbear
]
ignore = [
    "E501",  # line too long, handled by black
    "B008",  # do not perform function calls in argument defaults
    "B905",  # ignore zip() without an explicit strict= parameter, only support with python >3.10
]

[tool.mypy]
no_implicit_optional = true
strict_optional = true
namespace_packages = true
explicit_package_bases = true

[tool.bumpversion]
current_version = "0.4.0"
search = "{current_version}"
replace = "{new_version}"
regex = false
tag = false
commit = true
allow_dirty = false
tag_name = "{new_version}"

[[tool.bumpversion.files]]
filename = "titiler/stacapi/__init__.py"
search = '__version__ = "{current_version}"'
replace = '__version__ = "{new_version}"'